.heading {
  padding-left: 1rem;
  font-size: 7rem;
  color: var(--main-color-pink);
  letter-spacing: 3px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.heading span:first-child {
  color: #333;
  letter-spacing: 1px;
  font-size: 5rem;
}

/* MEDIA QUERIRES */

@media (max-width: 1000px) {
  .heading {
    font-size: 5rem;
  }
  .heading span:first-child {
    font-size: 3rem;
  }
}
@media (max-width: 700px) {
  .heading {
    font-size: 4rem;
  }
  .heading span:first-child {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .heading {
    font-size: 3rem;
  }
  .heading span:first-child {
    font-size: 1.6rem;
  }
}
@media (max-width: 400px) {
  .heading {
    font-size: 2rem;
  }
  .heading span:first-child {
    font-size: 1rem;
  }
}
