.character-card-L {
  width: 25rem;
  height: 47rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.266);

  transition: all 0.4s;
}

.char--img-bx {
  overflow: hidden;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.char--img-bx img {
  height: 15rem;
}
.char-card--img {
  width: 100%;
  height: 100%;
  scale: 1.2;
}

/* text box */

.card-char--text-box {
  padding: 2rem 1.2rem;
}

.card-char-name {
  height: 7rem;
}
.card-char--text-box {
  height: 28rem;
}
.char-creator {
  height: 8rem;
}
.char-appearence {
  height: 8rem;
}
.card-char--text-box div p:first-child {
  color: var(--white-2);
  color: #999999;
}

.character-card-L:hover {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.134);
  transform: translateY(-1rem) scale(1.02);
}

.char-card--btn:link,
.char-card--btn:visited {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.char-card--btn {
  width: 100%;
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-size: 1.8rem;
  border: solid 1px var(--main-color-pink);
  color: var(--main-color-pink);
  cursor: pointer;
  transition: all 0.3s;
}
.char-card--btn:hover {
  border: solid 1px var(--main-color-pink);
  background-color: var(--main-color-pink);
  color: var(--white-1);
  cursor: pointer;
}

/* loading state */
.btn-loading-state {
  border: solid 1px var(--main-color-pink);
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-spinner {
  transform: scale(0.4) translateX(-2rem) translateY(-3rem);
}

@media (max-width: 550px) {
  .character-card-L:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.266);
    transform: translateY(0) scale(1);
  }
  .card-char-name {
    height: 5rem;
    font-size: 2.4rem;
  }
  .card-char--text-box div {
    font-size: 1.3rem;
  }

  .char-creator {
    height: 6rem;
  }
  .char-appearence {
    height: 7rem;
  }
  .card-char--text-box {
    height: max-content;
  }
  .character-card-L {
    height: max-content;
  }
}

/* LOADING SPINNER */
