.comic-link {
  transition: all 0.4s;
}

.comic-link:link,
.comic-link:visited {
  display: block;
  color: black;
  text-decoration: none;
  width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}
.comic-link:hover,
.comic-link:active {
  color: var(--white-1);
  background-color: var(--main-color-pink);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-1rem);
}
.img-box {
  width: 25rem;
  height: 35rem;
  overflow: hidden;
}
.comic-img {
  width: 100%;
}
.text-box {
  height: 10rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

/* MEDIA QUERIS */
@media (max-width: 600px) {
  .comic-link:link,
  .comic-link:visited {
    width: 20rem;
  }
  .comic-link:hover,
  .comic-link:active {
    transform: translateY(-0.5rem);
  }
  .img-box {
    width: 20rem;
    height: 25rem;
  }

  .text-box {
    height: 10rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .comic-link:link,
  .comic-link:visited {
    width: 17rem;
  }
  .comic-link:hover,
  .comic-link:active {
    transform: translateY(-0.5rem);
  }
  .img-box {
    width: 17rem;
    height: 23rem;
  }

  .text-box {
    height: 8rem;
    font-size: 1rem;
  }
}
