.FeaturedSeriesCard {
  transition: all 0.4s;
}
/* LOADING SPINNER */
.loading-spinner {
  position: absolute;
  top: 0;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}
.card-loading-state {
  transform: translateY(-1.5rem);
}
.card-loading-state .img-box img {
  filter: brightness(50%);
}

.FeaturedSeriesCard:link,
.FeaturedSeriesCard:visited {
  color: var(--white-1);
  text-decoration: none;
  width: 20rem;

  border-radius: 0.5rem;
  overflow: hidden;
}
.FeaturedSeriesCard:hover,
.FeaturedSeriesCard:active {
  transform: translateY(-1.5rem);
  backface-visibility: visible;
}

/* img box */
.img-box {
  width: 20rem;
  height: 15.8rem;
  overflow: hidden;
  position: relative;
}
.img-box img {
  width: 100%;
}

/* text box */
.text-box {
  background-color: #eb5054;
  text-align: center;
  padding: 1rem;
  transition: all 0.4s;
}
/*  */
.FeaturedSeriesCard:hover .text-box,
.FeaturedSeriesCard:active .text-box {
  background-color: var(--main-color-pink);
}
